<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>computor_v1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E9453FE1FC882EF00629A46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E9454171FC882EF00629A46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E9454221FC882EF00629A46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
